<div class="detail-page">
    <div *ngIf="movie" class="container">
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <h1>{{movie.Title}}</h1>
                </div>
                <div class="row sub-title">
                    <div class="col-auto"><p class="fs-5">{{movie.Year}}</p></div>
                    <div class="col-auto"><p class="fs-5">{{movie.Rated}}</p></div>
                    <div class="col-auto"><p class="fs-5">{{movie.Runtime}}</p></div>
                </div>
                <div class="row">
                    <img src="{{movie.Poster}}"/>
                </div>
                <div class="row">
                    <div class="col-auto genre-container" *ngFor="let genre of movie.Genre.split(',')">
                        <p class="fs-4 genre">{{genre}}</p>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <h1>{{movie.Title}}</h1>
            </div>
        </div>
    </div>
    <div *ngIf="error">
        <h1>{{error}}</h1>
    </div>
</div>