.detail-page {
    background-color: #0f0f1e;
    height: 100vh;

}

.container {
    color: white;
}

.genre {
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}

.genre-container {
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

